# .gitignore

## OS
**/.DS_Store
**/desktop.ini

## Git
modules/

## IDE
.vscode/
.idea/
cmake-build-debug/
cmake-build-release/
xxx/

## Build
Makefile
objs/
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
