[submodule "modules/nginx-rtmp-module"]
	path = modules/nginx-rtmp-module
	url = https://github.com/zhiwsun/nginx-rtmp-module.git
[submodule "modules/nginx-lua-module"]
	path = modules/nginx-lua-module
	url = https://github.com/zhiwsun/nginx-lua-module.git
[submodule "modules/nginx-devel-kit"]
	path = modules/nginx-devel-kit
	url = https://github.com/zhiwsun/nginx-devel-kit.git
