# .gitignore

## Git
**/.gitmodules

## OS
**/.DS_Store
**/desktop.ini

## Build
third_party/
objs/

## Modules
modules/

## IDE
.vscode/
.idea/
cmake-build-debug/
cmake-build-release/

## C/C++
build/
### prerequisites
*.d
### compiled object files
*.slo
*.lo
*.o
*.obj
### precompiled headers
*.gch
*.pch
### compiled dynamic libraries
*.so
*.dylib
*.dll
### fortran module files
*.mod
*.smod
### compiled static libraries
*.lai
*.la
*.a
*.lib
### executables
*.exe
*.out
*.app
